.container{

    
    padding: 15px;
}
.col-6{
    border: 3px solid blue;
    padding: 10px;
    
}

.col-8{
    border: 3px solid blue;
    padding: 10px;

    
}

.col-4{
    border: 3px solid red;
    padding: 10px;
    
}